.misyonvizyon-page {
    height: 4rem;
  background-color: rgb(12, 12, 12);
  color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans 3', sans-serif;
  margin-left: 1rem;
    border-radius: 20px;
    margin-right: 1rem;
    margin-top: 1rem;
    gap: 0;
}

/* Tabs */
.tabs {
  display: flex;
  width: 100%;
}

.tabs button {
    width: 100%;
  background: none;
  border: none;
  color: #aaa;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  border-radius: 0px;
}

.tabs button.active {
  color: white;
  border-bottom: 2px solid rgba(118, 105, 221);
}


.tabs button:hover {
 background-color: rgba(118, 105, 221);
}

/* Content */
.tab-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  width: 125%;
  height: 100%;
  text-align: center;
  background-color: rgb(12, 12, 12);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.content-box h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.content-box p {
  font-weight: 350;
  line-height: 1.6;
}
@media (max-width: 1024px) {
  .content-box h2 {
    font-size: 1rem;
  }
}


@media (max-width: 768px) {
  .tabs {
    gap: 1rem;
  }

  .content-box {
    padding: 1.5rem;
    height: 20rem;
  }

  .content-box h2 {
    font-size: 1.4rem;
  }

  .content-box p {
    font-size: 0.95rem;
  }
}
